html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.body-sistema {
    margin-top: 50px;
}

nav {
    background-color: #a9a9a9;
}

footer {
    background-color: #a9a9a9;
    /*padding: 0 0 30px 0;*/
    font-size: 14px;
}

.footer-derechos {
    background-color: #9c9c9c;
}

.btn-used {
    background-color: #ff3b3f;
        color: #fff;
}

.btn-used:hover {
    background-color: #c9302c;
}

.modal-header {
    background-color: #caebf2
}

button.close[type="button"] {
    border-radius: 30%;
    border: none;
}

button.close[type="button"]:hover {
  background-color: #87ccdb;
  /* Otros estilos adicionales */
}

.card {
    background-color: #caebf2
}

/* ALERTS */
/* inspired by Twitter Bootstrap */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #eed3d7;
    border-radius: 4px;
    position: absolute;
    bottom: 0px;
    right: 21px;
    /* Each alert has its own width */
    float: right;
    clear: right;
    background-color: white;
}

.alert-red {
    color: white;
    background-color: #DA4453;
}

.alert-green {
    color: white;
    background-color: #37BC9B;
}

.alert-blue {
    color: white;
    background-color: #4A89DC;
}

.alert-yellow {
    color: white;
    background-color: #F6BB42;
}

.alert-orange {
    color: white;
    background-color: #E9573F;
}